In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
import pickle

In [21]:
df = pd.read_excel("mental_health_india_delhi.xlsx")
df

,ID,Name,Age,Gender,State,Employment_Status,Mental_Health_Disorder,Access_to_Counseling,Income_Level,Monthly_Income_INR,Physical_Activity_Level,Sleep_Hours_per_Day,Stress_Level,Days_Absent_Work,Medical_Expenses_per_Month_INR,Support_System_Score
0,1,Vihaan Sharma,42,Female,Delhi,Self-employed,Anxiety,No,Middle,35536,High,7.0,Moderate,1,9530,7
1,2,Krishna Gupta,55,Female,Delhi,Employed,Depression,Yes,Low,101154,Low,6.2,Moderate,2,10358,2
2,3,Ayaan Mehta,32,Female,Delhi,Employed,Depression,No,Low,98702,Moderate,4.3,Low,3,9432,4
3,4,Vihaan Singh,34,Male,Delhi,Self-employed,Anxiety,Yes,Low,141599,Moderate,5.9,Low,0,15474,9
4,5,Aditya Jain,63,Male,Delhi,Employed,Anxiety,Yes,Low,25502,Moderate,6.2,Low,1,18445,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,Sai Verma,37,Male,Delhi,Self-employed,Anxiety,Yes,Low,68490,High,8.6,High,2,16298,3
4996,4997,Ishaan Verma,39,Female,Delhi,Employed,Anxiety,No,Middle,14022,Low,7.5,High,1,5586,1
4997,4998,Isha Verma,21,Male,Delhi,Unemployed,Anxiety,No,Middle,59187,Moderate,6.4,High,2,10096,2
4998,4999,Krishna Verma,33,Female,Delhi,Unemployed,Depression,No,Middle,133580,Low,6.5,Moderate,2,17784,5
4999,5000,Diya Sharma,38,Male,Delhi,Student,PTSD,No,Low,24917,Low,4.2,High,2,1038,10

In [22]:
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
ID                                   0
Name                                 0
Age                                  0
Gender                               0
State                                0
Employment_Status                    0
Mental_Health_Disorder            1573
Access_to_Counseling                 0
Income_Level                         0
Monthly_Income_INR                   0
Physical_Activity_Level              0
Sleep_Hours_per_Day                  0
Stress_Level                         0
Days_Absent_Work                     0
Medical_Expenses_per_Month_INR       0
Support_System_Score                 0
dtype: int64

In [23]:
df.Mental_Health_Disorder.fillna("None",inplace = True)
print(df.isnull().sum())

ID                                0
Name                              0
Age                               0
Gender                            0
State                             0
Employment_Status                 0
Mental_Health_Disorder            0
Access_to_Counseling              0
Income_Level                      0
Monthly_Income_INR                0
Physical_Activity_Level           0
Sleep_Hours_per_Day               0
Stress_Level                      0
Days_Absent_Work                  0
Medical_Expenses_per_Month_INR    0
Support_System_Score              0
dtype: int64

C:\Users\Annu Rathee\AppData\Local\Temp\ipykernel_7876\1528746425.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Mental_Health_Disorder.fillna("None",inplace = True)

In [24]:
df['Stress_Level'].unique()

array(['Moderate', 'Low', 'High'], dtype=object)

In [25]:
df['Stress_Level']=df['Stress_Level'].map({'Low':0, 'Moderate':1,  'High':2})
df

,ID,Name,Age,Gender,State,Employment_Status,Mental_Health_Disorder,Access_to_Counseling,Income_Level,Monthly_Income_INR,Physical_Activity_Level,Sleep_Hours_per_Day,Stress_Level,Days_Absent_Work,Medical_Expenses_per_Month_INR,Support_System_Score
0,1,Vihaan Sharma,42,Female,Delhi,Self-employed,Anxiety,No,Middle,35536,High,7.0,1,1,9530,7
1,2,Krishna Gupta,55,Female,Delhi,Employed,Depression,Yes,Low,101154,Low,6.2,1,2,10358,2
2,3,Ayaan Mehta,32,Female,Delhi,Employed,Depression,No,Low,98702,Moderate,4.3,0,3,9432,4
3,4,Vihaan Singh,34,Male,Delhi,Self-employed,Anxiety,Yes,Low,141599,Moderate,5.9,0,0,15474,9
4,5,Aditya Jain,63,Male,Delhi,Employed,Anxiety,Yes,Low,25502,Moderate,6.2,0,1,18445,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,Sai Verma,37,Male,Delhi,Self-employed,Anxiety,Yes,Low,68490,High,8.6,2,2,16298,3
4996,4997,Ishaan Verma,39,Female,Delhi,Employed,Anxiety,No,Middle,14022,Low,7.5,2,1,5586,1
4997,4998,Isha Verma,21,Male,Delhi,Unemployed,Anxiety,No,Middle,59187,Moderate,6.4,2,2,10096,2
4998,4999,Krishna Verma,33,Female,Delhi,Unemployed,Depression,No,Middle,133580,Low,6.5,1,2,17784,5
4999,5000,Diya Sharma,38,Male,Delhi,Student,PTSD,No,Low,24917,Low,4.2,2,2,1038,10

In [28]:
X = df[['Age', 'Monthly_Income_INR', 'Medical_Expenses_per_Month_INR', 'Sleep_Hours_per_Day', 'Support_System_Score']]
y = df['Stress_Level']

In [31]:
# Splitting the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=77
                                                    )

# Initialize the GaussianNB model
model = GaussianNB()

# Train the model
model.fit(X_train, y_train)

# Evaluate the model
accuracy = model.score(X_test, y_test)
print(f"Model Accuracy: {accuracy * 100:.2f}%")

# Save the model
with open('gaussian_naive_bayes_model.pkl', 'wb') as f:
    pickle.dump(model, f)
print("Model saved as 'gaussian_naive_bayes_model.pkl'")

Model Accuracy: 42.80%
Model saved as 'gaussian_naive_bayes_model.pkl'