In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_excel("mental_health_india_delhi.xlsx")
df

,ID,Name,Age,Gender,State,Employment_Status,Mental_Health_Disorder,Access_to_Counseling,Income_Level,Monthly_Income_INR,Physical_Activity_Level,Sleep_Hours_per_Day,Stress_Level,Days_Absent_Work,Medical_Expenses_per_Month_INR,Support_System_Score
0,1,Vihaan Sharma,42,Female,Delhi,Self-employed,Anxiety,No,Middle,35536,High,7.0,Moderate,1,9530,7
1,2,Krishna Gupta,55,Female,Delhi,Employed,Depression,Yes,Low,101154,Low,6.2,Moderate,2,10358,2
2,3,Ayaan Mehta,32,Female,Delhi,Employed,Depression,No,Low,98702,Moderate,4.3,Low,3,9432,4
3,4,Vihaan Singh,34,Male,Delhi,Self-employed,Anxiety,Yes,Low,141599,Moderate,5.9,Low,0,15474,9
4,5,Aditya Jain,63,Male,Delhi,Employed,Anxiety,Yes,Low,25502,Moderate,6.2,Low,1,18445,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,Sai Verma,37,Male,Delhi,Self-employed,Anxiety,Yes,Low,68490,High,8.6,High,2,16298,3
4996,4997,Ishaan Verma,39,Female,Delhi,Employed,Anxiety,No,Middle,14022,Low,7.5,High,1,5586,1
4997,4998,Isha Verma,21,Male,Delhi,Unemployed,Anxiety,No,Middle,59187,Moderate,6.4,High,2,10096,2
4998,4999,Krishna Verma,33,Female,Delhi,Unemployed,Depression,No,Middle,133580,Low,6.5,Moderate,2,17784,5
4999,5000,Diya Sharma,38,Male,Delhi,Student,PTSD,No,Low,24917,Low,4.2,High,2,1038,10

In [7]:
print("Dataset Info:")
print(df.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              5000 non-null   int64
 1   Name                            5000 non-null   object
 2   Age                             5000 non-null   int64
 3   Gender                          5000 non-null   object
 4   State                           5000 non-null   object
 5   Employment_Status               5000 non-null   object
 6   Mental_Health_Disorder          3427 non-null   object
 7   Access_to_Counseling            5000 non-null   object
 8   Income_Level                    5000 non-null   object
 9   Monthly_Income_INR              5000 non-null   int64
 10  Physical_Activity_Level         5000 non-null   object
 11  Sleep_Hours_per_Day             5000 non-null   float64
 12  Stress_Level                    5000 non-null   object
 13  Days_Absent_Work                5000 non-null   int64
 14  Medical_Expenses_per_Month_INR  5000 non-null   int64
 15  Support_System_Score            5000 non-null   int64
dtypes: float64(1), int64(6), object(9)
memory usage: 625.1+ KB
None

In [8]:
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
ID                                   0
Name                                 0
Age                                  0
Gender                               0
State                                0
Employment_Status                    0
Mental_Health_Disorder            1573
Access_to_Counseling                 0
Income_Level                         0
Monthly_Income_INR                   0
Physical_Activity_Level              0
Sleep_Hours_per_Day                  0
Stress_Level                         0
Days_Absent_Work                     0
Medical_Expenses_per_Month_INR       0
Support_System_Score                 0
dtype: int64

In [9]:
print("\nDuplicate Entries:", df.duplicated().sum())
df = df.drop_duplicates()

Duplicate Entries: 0

In [14]:
sns.set(style="whitegrid")

In [16]:
# Gender Distribution
plt.figure(figsize=(6, 4))
sns.countplot(data=df, x="Gender", palette="pastel")
plt.title("Gender Distribution")
plt.xlabel("Gender")
plt.ylabel("Count")
plt.tight_layout()
plt.savefig("gender_distribution.png")
plt.close()

C:\Users\Annu Rathee\AppData\Local\Temp\ipykernel_12724\1664333045.py:3: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

  sns.countplot(data=df, x="Gender", palette="pastel")

In [18]:
# Mental Health Disorders Count
plt.figure(figsize=(8, 5))
sns.countplot(data=df, x="Mental_Health_Disorder", order=df['Mental_Health_Disorder'].value_counts().index, palette="Set2")
plt.title("Mental Health Disorder Distribution")
plt.xlabel("Disorder Type")
plt.ylabel("Count")
plt.xticks(rotation=30)
plt.tight_layout()
plt.savefig("mental_health_disorder_distribution.png")
plt.close()

C:\Users\Annu Rathee\AppData\Local\Temp\ipykernel_12724\2251279640.py:3: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

  sns.countplot(data=df, x="Mental_Health_Disorder", order=df['Mental_Health_Disorder'].value_counts().index, palette="Set2")